html, body {
    background-color: #CCFFCC;
    width: 100%;
    height: 100%;

}
.glowny {
    width: 90%;
    height: 90%;
    margin: auto;


}
.baner {
    font-size: 30px;
    background-color: #66CC99;
    text-align: center;
    height: 8%;
    width: auto;
    padding-top: 2%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}
.blok1 {
    height: 20%;
    font-size: 20px;
    text-align: center;
    border-right: 1px #66CC99 solid;
    border-bottom: 1px #66CC99 solid;
    border-left: 1px #66CC99 solid;
}
.panel1 {
    background-color: #818181;
    width: 48%;
    height: 55%;
    text-align: center;
    margin-top: 1px;
    float: left;
    color:white;
}
.panel2 {
    background-color: #818181;
    width: 48%;
    height: 55%;
    text-align: center;
    margin-top: 1px;
    line-height: 1.8em;
    float: right;
    color: white;
}
img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    filter: sepia(60%);
}
table {
    height: 100%;
    width: 100%;

}
p{
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
    line-height: 1.8em;
}
h3 {
    color: #66CC99;
    text-indent: 4%;
}